<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootsrap.min.css}">
    <title>Index</title>
</head>

<body>
    <header>
        <div class="container">
            <h1>
                Studios
            </h1>
        </div>
    </header>
    
    <main>
        <section>
        <div class="container">
          <div class="mt-3">
            <a th:href="@{/games/create}" class="btn btn-primary">Add a game</a>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Year of foundation</th>
                <th scope="col">Headquarters</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="studio : ${list}" th:object="${studio}">
                <th scope="row" th:text="*{id}" />
                <td th:text="*{name}" />
                <td th:text="*{yearFoundation}" />
                <td th:text="*{headquarters}" />
                <td>
                  <a
                    th:href="@{/studios/{id}(id = *{id})}"
                    class="btn btn-primary"
                    >Show</a
                  >
                </td>
                <td>
                  <a
                    th:href="@{/games/edit/{id}(id = *{id})}"
                    class="btn btn-secondary"
                    >Update</a
                  >
                </td>
                <td>
                  <form
                    action="#"
                    th:action="@{/games/delete/{id}(id = *{id})}"
                    method="post"
                  >
                    <button type="submit" class="btn btn-danger" id="delete">
                      Delete
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </main>
</body>
</html>