<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
    />
    <title>Home</title>
  </head>

  <body>
    <header th:replace="~{/fragments/header :: header}" />

    <main>
      <div class="container mt-2">
        <h1>Home</h1>
      </div>
      <section class="mt-3">
        <div class="container d-flex justify-content-around">
          <a class="btn btn-primary" th:href="@{/games}">Games</a>
          <a class="btn btn-primary" th:href="@{/studios}">Studios</a>
        </div>
      </section>
    </main>
  </body>
</html>
